@{
    ViewData["Title"] = "Home Page";
}

    <section class="contenedor">
        <div class="presentacion">
            <img src="/Images/logo.png" alt="Logo del juego">
            <h1>Bienvenido a Preguntadort</h1>
            <p>¡Demostra tus conocimientos y divertite!</p>
            <a href='@Url.Action("ConfigurarJuego","Home")' class="boton-a">Configurar Juego</a>
        </div>
    </section>